
<%= simple_form_for(@order, url: partner_order_path(@order)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if @order.with_outside_shop_coverage_fee? && @order.delivery_option_code == DeliveryOption::CUSTOMER_PLACE_OPTION_CODE %>
      <%= f.input :outside_shop_coverage_fee %>
    <% end %>
    <%= f.label t('.orders_form_status') %>
    <%= f.select :status, Order::STATUS, { prompt: t('.status_prompt') }, class: 'form-control' %>
  </div><br>

  <div class="form-actions">
    <%= f.button :submit, t('.orders_form_submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
