<p id="notice"><%= notice %></p>

<h1>Partner Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Delivery option</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.username %></td>
        <td><%= DeliveryOption.find(order.delivery_option_code).option %></td>
        <td><%= number_to_currency(order.total_price) %></td>
        <td>
          <%= link_to 'Show', partner_order_path(order) %>
          <%= link_to 'Edit', edit_partner_order_path(order) %>
          <%= link_to 'Destroy', partner_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner Order', new_partner_order_path %>
