<p id="notice"><%= notice %></p>

<h1>Partner Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Delivery option</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.username %></td>
        <td><%= order.delivery_option %></td>
        <td><%= number_to_currency(order.total_price) %></td>
        <td>
          <%= link_to 'Show', partner_shop_order_path(order.shop, order) %>
          <%= link_to 'Edit', edit_partner_shop_order_path(order.shop, order) %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
