<h1><%= t('.my_orders_hearder') %></h1>

<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm-12 col-md-9 col-lg-6 col-xl-3">
      <div class="card mb-4" style="">
        <div class="card-header">
          <h5 class="card-title"><%= t('.order_number') %>#<%= order.id %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= order.created_at %></h6>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= image_tag "person-circle-outline.svg", size: "24" %>
            <%= order.user.firstname %> <%= order.user.lastname %>
          </p>
          <p class="card-text">
            <%= image_tag "bicycle-outline.svg", size: "24" %> <%= order.delivery_option.to_option %>
          </p>
          <p class="card-text">
            <%= image_tag "cash-outline.svg", size: "24" %> <%= number_to_currency(order.total_price, locale: I18n.locale) %>
            <% if order.standard_delivery_fees > 0 && order.delivery_option_code == DeliveryOption::CUSTOMER_PLACE_OPTION_CODE %>
              (<%= number_to_currency(order.standard_delivery_fees, locale: I18n.locale) %> <%= t('.fees_included') %>)
            <% end %>
          </p>
          <p class="card-text"><strong><%= t('.order_status') %></strong> <%= t(Order::STATUS[order.status_id]) %><p>
          <%= link_to t('.details_link'), partner_order_path(order), class: 'btn btn-primary btn-sm' %>
          <%= link_to t('.change_status_link'), edit_partner_order_path(order), class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= will_paginate @orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
