<h5><%= t('.order_number') %>#<%= @order.id %></h5>
<table class="table">
    <thead>
      <tr>
        <th scope="col"><%= t('.name_col') %></th>
        <th scope="col"><%= t('.unit_price_col') %></th>
        <th scope="col"><%= t('.qty_col') %></th>
        <th scope="col"><%= t('.price_col') %></th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_line_items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= number_to_currency(item.unit_price, locale: I18n.locale) %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.total_price, locale: I18n.locale) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3">Total</td>
        <td class="total_cell"><%= number_to_currency(@order.total_price, locale: I18n.locale) %></td>
      </tr>
    </tbody>
</table>


<p>
  <strong><%= t('.customer')%></strong> <%= @order.user.firstname %> <%= @order.user.lastname %><br>
  <strong><%= t('.delivery_option') %></strong> <%= @order.delivery_option %><br>
  <strong><%= t('.status') %></strong> <%= @order.status %>
</p>



<%= link_to t('.edit_status_link'), edit_partner_shop_order_path(@order.shop, @order) %> |
<%= link_to t('.back_link'), partner_shop_orders_path %>
