<p>
<%= @stock.shop.name %> | <%= @stock.product.name %> | <%= number_to_currency(number_to_human(@stock.price)) %>
</p>


<%= simple_form_for(@line_item, url: @line_item.persisted? ? consumer_stock_line_item_path :
  consumer_stock_line_items_path(@stock)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs">
    <%= f.input :quantity, required: true, autofocus: true, input_html: { autocomplete: "quantity" } %>
    <%= f.hidden_field :stock_id, value: @stock.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
