<br>
<div class="col-sm-12 col-md-9 col-lg-6 col-xl-3">
  <div class="card" style="">
    <div class="card-header"><%= @stock.shop.name %></div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= @stock.product.name %> : <%= number_to_currency(number_to_human(@stock.price)) %>
      </li>
    </ul>
  </div>
</div>
<br>


<%= simple_form_for(@line_item, url: @line_item.persisted? ? consumer_cart_stock_line_item_path :
  consumer_cart_stock_line_items_path(current_user.cart, @stock)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs">
    <%= f.input :quantity, label: t('.qty_label'), required: true, autofocus: true,
        input_html: { autocomplete: "quantity" } %>
    <%= f.hidden_field :stock_id, value: @stock.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.add_to_cart_btn'), class: 'btn btn-primary' %>
  </div>
<% end %>
