

<h5> <%= @shop.name %></h5>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Qty (Kgs)</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.line_items_of(@shop).each do |item| %>
        <tr>
          <td><%= item.stock.product.name %></td>
          <td><%= number_to_currency(item.price) %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.total_price) %></td>
          <td>
            <div class="dropdown">
              <button class="btn transparent-btn" type="button" id="dropdownMenu2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag("ellipsis-horizontal-outline.svg", size: "24") %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <%= link_to 'Update', edit_consumer_stock_line_item_path(item.stock, item), class: 'dropdown-item' %>
                <%= link_to 'Delete', consumer_stock_line_item_path(item.stock, item), method: :delete,
                    data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4">Total</td>
        <td class="total_cell"><%= number_to_currency(Cart::total_price_for(@cart.line_items_of(@shop))) %></td>
      </tr>
    </tbody>
</table>


<%= simple_form_for(@order, url: consumer_orders_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :delivery_option_code, as: :radio_buttons,
        collection: @shop.delivery_options, label_method: :option,
        value_method: :code %>
    <%= hidden_field_tag :shop_id, @shop.id %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
