<div id="orderModalId" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('.order_recap', shop_name: @shop.name) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-sm-3 col-md-6 col-lg-9 col-xl-12">

        <ul class="list-group mt-2">
          <% @cart.line_items_of(@shop).each do |item| %>
            <li class="list-group-item">
              <div class="float-left">
                <%= image_tag Product::ICONS[item.stock.product.reference], class: 'img-fluid', size: '64' %>
              </div>
              <div class="float-right">
                <div class="row">
                  <div class="col"><h5 class="card-title"><%= item.stock.product.name %></h5></div>
                  <div class="col"><p><%= number_to_currency(item.price, locale: I18n.locale) %></p></div>
                </div>
                <div class="row">
                  <div class="col"><span class="badge badge-primary badge-pill"><%= item.quantity %> Kgs</span></div>
                  <!-- <td><%= number_to_currency(item.total_price, locale: I18n.locale) %></td> -->
                  <div class="col"></div> <!-- LEAVE THIS HERE OTHERWISE YOU'RE GONNA GET SHIT FUCKED UP BRUH -->
                </div>
              </div>
            </li>
          <% end %>
          <li class="list-group-item">
            <div class="float-right">
              <div class="row">
              <div class="col"><h5 class="card-title">Total</h5></div>
              <div class="col"><p><%= number_to_currency(@cart.total_price_for(@cart.line_items_of(@shop)), locale: I18n.locale) %></p></div>
            </div>
            </div>
          </li>
        </ul>

        <% if @home_delivery_mininum_amount_msg %>
          <div class="card mb-3">
            <div class="card-body text-info">
              <%= @home_delivery_mininum_amount_msg %>
            </div>
          </div>
        <% end %>

        <%= simple_form_for(@order, url: consumer_cart_shop_orders_path(current_user.cart, @shop)) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :delivery_option_code, as: :radio_buttons, label: t('.delivery_option'),
                collection: @shop.delivery_options, label_method: :to_option,
                value_method: :code %>
          </div>


          <div class="form-actions modal-footer">
            <%= f.button :submit, t('.place_order_btn'), class: "btn btn-primary" %>
          </div>
        <% end %>


      </div>
    </div>
  </div>
</div>
