<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Shop</th>
      <th>Delivery option</th>
      <th>Total</th>
      <th>Action</th>
      <th colspan=""></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.shop.name %></td>
        <td><%= DeliveryOption.find(order.delivery_option_code).option %></td>
        <td><%= number_to_currency(order.total_price) %></td>
        <td>
          <%= link_to 'Show', consumer_order_path(order) %>
          <%= link_to 'Edit', '#' %> <!-- edit_consumer_order_path(order)-->
          <%= link_to 'Destroy', consumer_order_path(order), method: :delete,
              data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--  <%# <%= link_to 'New Order', new_consumer_order_path %> %> -->
