<h1><%= t('.my_orders_hearder')%></h1><br>

<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm-12 col-md-9 col-lg-6 col-xl-3">
      <div class="card mb-4" style="">
        <div class="card-header">
          <h5 class="card-title">
            <%= image_tag "home-outline.svg", size: "24" %> <%= order.shop.name %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= order.created_at %></h6>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= image_tag "bicycle-outline.svg", size: "24" %> <%= order.delivery_option.to_option %>
          </p>
          <p class="card-text">
            <%= t('.items_total_price') %> <%= number_to_currency(order.items_total_price, locale: I18n.locale) %>
          </p>
          <%= render 'shared/orders/index_order_fees', order: order %>
          <p class="card-text">Total: <%= number_to_currency(order.total_price, locale: I18n.locale) %></p>
          <p class="card-text"><strong><%= t('.order_status') %></strong> <%= t(Order::STATUS[order.status_id]) %><p>
          <%= link_to t('.details'), consumer_order_path(order), class: "btn btn-primary btn-sm" %>
          <!-- <%# <%= link_to 'Edit', edit_consumer_order_path(order) %> %> -->
          <%= link_to t('.cancel'), consumer_order_path(order), method: :delete,
              data: { confirm: t('.are_you_sure') }, class: "btn btn-danger btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<!--  <%# <%= link_to 'New Order', new_consumer_order_path %> %> -->
