<div class="card mt-3 mb-3">
  <div class="card-header">
    <h5 class="card-title"><%= t('.order_number') %>#<%= @order.id %></h5>
    <div class="row">
      <div class="col"><%= image_tag "home-outline.svg", size: "24" %> <%= @order.shop.name %></div>
      <div class="col"><%= image_tag "bicycle-outline.svg", size: "24" %> <%= @order.delivery_option.to_option %></div>
      <div class="col"><strong><%= t('.order_status') %></strong> <%= t(Order::STATUS[@order.status_id]) %></div>
    </div>
  </div>
  <ul class="list-group">
    <% @order.order_line_items.each do |item| %>
      <li class="list-group-item border">
        <div class="float-left">
          <%= image_tag Product::ICONS[item.product_reference], class: 'img-fluid', size: '64' %>
        </div>
        <div class="float-right">
          <div class="row">
            <div class="col"><h5 class="card-title"><%= item.name %></h5></div>
            <div class="col"><h5 class="text-nowrap"><%= number_to_currency(item.total_price, locale: I18n.locale) %></h5></div>
          </div>
          <div class="row">
            <div class="col"><span class="badge badge-primary badge-pill"><%= item.quantity %> Kgs</span></div>
            <!-- <td><%= number_to_currency(item.total_price, locale: I18n.locale) %></td> -->
            <div class="col"></div>
          </div>
        </div>
      </li>
    <% end %>
    <% if @order.standard_delivery_fees > 0 && @order.delivery_option_code == DeliveryOption::CUSTOMER_PLACE_OPTION_CODE %>
      <li class="list-group-item">
        <div class="float-right">
          <div class="row">
            <div class="col-9"><h5 class="card-title"><%= t('.standard_delivery_fees_label') %></h5></div>
            <div class="col-3"><h5 class="text-nowrap"><%= number_to_currency(@order.standard_delivery_fees, locale: I18n.locale) %></h5></div>
          </div>
        </div>
      </li>
    <% end %>
    <li class="list-group-item">
      <div class="float-right">
        <div class="row">
        <div class="col"><h5 class="card-title">Total</h5></div>
        <div class="col"><h5 class="text-nowrap"><%= number_to_currency(@order.total_price, locale: I18n.locale) %></h5></div>
      </div>
      </div>
    </li>
  </ul>
</div>

<% if @order.status_id == Order::STATUS.key('ordered_status') %>
  <%= link_to t('.cancel'), show_destroy_popup_consumer_order_path(@order), remote: true, class: "btn btn-danger btn-sm float-right" %>
<% end %>
<%= link_to t('.back_btn'), consumer_orders_path %>
