<h5><%= @order.shop.name %></h5>
<table class="table">
    <thead>
      <tr>
        <th scope="col"><%= t('.name_col') %></th>
        <th scope="col"><%= t('.unit_price_col') %></th>
        <th scope="col"><%= t('.qty_col') %></th>
        <th scope="col"><%= t('.price_col') %></th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_line_items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= number_to_currency(item.unit_price, locale: I18n.locale) %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.total_price, locale: I18n.locale) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3">Total</td>
        <td class="total_cell"><%= number_to_currency(@order.total_price, locale: I18n.locale) %></td>
      </tr>
    </tbody>
</table>

<% if @order.with_outside_shop_coverage_fee && @order.delivery_option_code == DeliveryOption::CUSTOMER_PLACE_OPTION_CODE %>
  <div class="card">
    <div class="card-body text-info">
      <%= t('.outside_shop_coverage_fee_msg') %>
    </div>
  </div>
<% end %>
<br>


<p>
  <strong><%= t('.delivery_option') %></strong> <%= @order.delivery_option.to_option %><br>
  <strong><%= t('.order_status') %></strong> <%= @order.status %>
</p>

<%= link_to t('.cancel'), consumer_order_path(@order), method: :delete,
    data: { confirm: t('.are_you_sure') }, class: "btn btn-danger btn-sm float-right" %>


<!--  <%# <%= link_to 'Edit', edit_consumer_order_path(@order) %> | %> -->
<%= link_to t('.back_btn'), consumer_orders_path %>
