<%= simple_form_for @stock, url: @stock.persisted? ? partner_shop_stock_path :
  partner_shop_stocks_path do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :product, label: t('.product_label'), collection: @products, prompt: t('.product_reference_prompt'),
        label_method: :name, value_method: :reference, as: :select %>
    <%= f.input :price, label: t('.price_label'), required: true, autofocus: true, input_html: { autocomplete: "price" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.add_product_btn'), class: 'btn btn-primary' %>
  </div>
<% end %>
