<%= simple_form_for @stock, url: @stock.persisted? ? partner_shop_stock_path :
  partner_shop_stocks_path do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.label :product_reference, t('.product_label') %>
    <%= f.select :product_reference, @products.collect {|p| [ p.name, p.reference ] },
      { :prompt => t('.product_reference_prompt') }, class: 'form-control' %><br>
    <%= f.input :price, label: t('.price_label'), required: true, autofocus: true, input_html: { autocomplete: "price" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.add_product_btn'), class: 'btn btn-primary' %>
  </div>
<% end %>
