<br><br>
<div class="jumbotron">
  <h1 class="display-4"><%= t('.welcome_phrase') %></h1>
  <p class="lead">
    <%= t('.welcome_p_lead') %>
  </p>
  <hr class="my-4">
  <p>
    <%= t('.welcome_p_head') %>
    <ul>
      <li><%= t('.welcome_first_li') %></li>
      <li><%= t('.welcome_second_li') %></li>
    </ul>
  </p>
  <p class="lead">
    <%= link_to t('.all_shops_btn'), consumer_shops_path, class: 'btn btn-success btn-lg' %>
  </p>
</div>
