<h5>Cart</h5>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Qty</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.line_items.each do |item| %>
        <tr>
          <td><%= item.stock.product.name %></td>
          <td><%= number_to_currency(number_to_human(item.stock.price)) %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(number_to_human(item.quantity * item.stock.price)) %></td>
          <td>
            <div class="dropdown">
              <button class="btn transparent-btn" type="button" id="dropdownMenu2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag("ellipsis-horizontal-outline.svg", size: "24") %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <%= link_to 'Update', edit_consumer_stock_line_item_path(item.stock, item), class: 'dropdown-item' %>
                <%= link_to 'Delete', consumer_stock_line_item_path(item.stock, item), method: :delete,
                    data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>


<%= link_to 'Keep shopping', consumer_shops_path %>
