<h1>Cart</h1><br>
<% @cart.line_items_by_shop.each do |shop, items| %>
  <h5><%= shop.name %></h5>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Qty (Kgs)</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% items.each do |item| %>
          <tr>
            <td><%= item.stock.product.name %></td>
            <td><%= number_to_currency(item.price) %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.total_price) %></td>
            <td>
              <div class="dropdown">
                <button class="btn transparent-btn" type="button" id="dropdownMenu2"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag("ellipsis-horizontal-outline.svg", size: "24") %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <%= link_to 'Update', edit_consumer_stock_line_item_path(item.stock, item), class: 'dropdown-item' %>
                  <%= link_to 'Delete', consumer_stock_line_item_path(item.stock, item), method: :delete,
                      data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4">Total</td>
          <td class="total_cell"><%= number_to_currency(@cart.total_price_for(items)) %></td>
        </tr>
      </tbody>
  </table>
  <%= link_to 'Keep shopping', consumer_shop_path(shop), class: 'btn btn-sm btn-primary float-left' %>
  <%= link_to 'Order', new_consumer_cart_shop_order_path(current_user.cart, shop), class: 'btn btn-sm btn-primary float-right' %>
  <br><br><br>
<% end %>
