<% presenter = ShopPresenter.new(@shop) %>

<div class="row mb-2">
  <div class="col-sm">
    <div class="card text-center mt-3 mb-3">
      <div class="card-body">
        <h1><%= t('.welcome' )%> <%= @shop.name %></h1>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-sm">
    <div class="card mb-3">
      <div class="card-body">
        <h5><%= t('.contact_details')%></h5>
        <div>
          <p><%= @shop.street %></p>
          <% if @shop.additional_address_information.present? %>
            <p><%= @shop.additional_address_information %></p>
          <% end %>
          <p><%= @shop.city.postcode %> <%= @shop.city.name %></p>
          <p><%= @shop.country.name %></p>
          <p><%= @shop.phone_number %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card mb-3">
      <div class="card-body">
        <h5><%= t('.delivery_options') %></h5>
        <div><%= presenter.delivery_options.html_safe %></div>
      </div>
    </div>
  </div>
  <div class="col-sm mb-3">
    <div class="card">
      <div class="card-body">
        <h5><%= t('.delivery_coverage') %></h5>
        <div><%= presenter.cities.html_safe %></div>
      </div>
    </div>
  </div>
</div>

<% if @no_delivery_msg %>
  <div class="card mb-3">
    <div class="card-body text-info">
      <%= @no_delivery_msg %>
    </div>
  </div>
<% end %>

<h5><%= t('.products_header') %></h5>
<div class="row">
  <% @shop.stocks.each do |stock| %>
    <div class="col-sm-12 col-md-9 col-lg-6 col-xl-3">
      <div class="card mb-3" style="">
        <%= image_tag Product::ICONS[stock.product.reference], class: 'card-img-top border-bottom p-3 img-fluid' %>
        <div class="card-body">
          <h5 class="card-title"><%= stock.product.name %></h5>
          <div class="">
            <%= number_to_currency(stock.price, locale: I18n.locale) %>
            <% if user_signed_in? %>
              <% if current_user.role.code == Role::CONSUMER_ROLE_CODE %>
                <% unless @no_delivery_msg %>
                  <%= link_to new_consumer_cart_stock_line_item_path(current_user.cart, stock),
                      remote: true, class: 'btn transparent pt-0 pb-0 float-right' do %>
                    <%= image_tag "cart-outline.svg", size: "24" %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to "javascript:void(0);", class: 'btn transparent pt-0 pb-0 float-right',
                  tabindex: "0", title: t('.popover_title'), data: { toggle: "popover",
                  content: t('.popover_content'), container: "body", placement: "bottom" } do %>
                <%= image_tag "cart-outline.svg", size: "24" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= link_to consumer_shops_path, class: 'btn btn-success btn-lg btn-block mb-5' do %>
  <%= t('.exit_btn') %> <%= image_tag "exit-outline.svg", size: "24" %>
<% end %>
