<div class="row mb-2">
  <div class="col-sm">
    <div class="card text-center mt-3 mb-3">
      <div class="card-body">
        <h1><%= t('.welcome' )%> <%= @shop.name %></h1>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-sm">
    <div class="card mb-3">
      <div class="card-body">
        <h5><%= t('.contact_details')%></h5>
        <div>
          <p><%= @shop.street %></p>
          <% if @shop.additional_address_information.present? %>
            <p><%= @shop.additional_address_information %></p>
          <% end %>
          <p><%= @shop.city.postcode %> <%= @shop.city.name %></p>
          <p><%= @shop.country.name %></p>
          <p><%= @shop.phone_number %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card mb-3">
      <div class="card-body">
        <h5><%= t('.delivery_options') %></h5>
        <div>
          <% @shop.delivery_options.each do |delivery_option| %>
            <span class="badge badge-info"><%= delivery_option.to_option %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm mb-3">
    <div class="card">
      <div class="card-body">
        <h5><%= t('.delivery_coverage') %></h5>
        <div>
          <% @shop.cities.each do |city| %>
            <span class="badge badge-primary"><%= city.name %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @no_delivery_msg %>
  <div class="card mb-3">
    <div class="card-body text-info">
      <%= @no_delivery_msg %>
    </div>
  </div>
<% end %>

<div class="row mb-2">
  <div class="col-sm">
    <div class="card mb-3">
      <div class="card-body">
        <h5><%= t('.products_header') %></h5>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"><%= t('.name_col') %></th>
                <th scope="col"><%= t('.price_col') %></th>
                <th scope="col"><%= t('.actions_col') %></th>
              </tr>
            </thead>
            <tbody>
              <% @shop.stocks.each do |stock| %>
                <tr>
                  <td><%= stock.product.name %></td>
                  <td><%= number_to_currency(stock.price, locale: I18n.locale) %></td>
                  <td>
                    <% if user_signed_in? %>
                      <% if current_user.role.code == Role::CONSUMER_ROLE_CODE %>
                        <% unless @no_delivery_msg %>
                          <%= link_to new_consumer_cart_stock_line_item_path(current_user.cart, stock),
                              remote: true, class: 'btn transparent pt-0 pb-0' do %>
                            <%= image_tag "cart-outline.svg", size: "24" %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% else %>
                    <%= link_to "javascript:void(0);", class: 'btn transparent pt-0 pb-0', tabindex: "0", title: t('.popover_title'),
                        data: { toggle: "popover", content: t('.popover_content'), container: "body", placement: "bottom" } do %>
                      <%= image_tag "cart-outline.svg", size: "24" %>
                    <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to consumer_shops_path, class: 'btn btn-success btn-lg btn-block mb-5' do %>
  <%= t('.exit_btn') %> <%= image_tag "exit-outline.svg", size: "24" %>
<% end %>
