<p><%= t('.hello') %> <%= @order.user.firstname %>,</p>

<p><%= t('.order_text', order_id: @order.id) %></p>

<p><%= t('.order_detail') %></p>
<blockquote>
  <p><strong><%= t('.shop') %></strong> <%= @order.shop.name %></p>
  <p><strong><%= t('.delivery_option') %></strong> <%= @order.delivery_option.to_option %></p>
  <p><strong><%= t('.order_number') %>#<%= @order.id %>:</strong></p>
  <ul>
    <% @order.order_line_items.each do |item| %>
      <li><%= item.name %>: <%= item.quantity %>Kgs</li>
    <% end %>
  </ul>
  <p><strong>Total:</strong> <%= number_to_currency(@order.total_price, locale: I18n.locale) %></p>
</blockquote>


<%= t('.best_regards') %><br>
<%= t('.caribbean_flavour_team') %>
