<%= simple_form_for @shop, url: @shop.persisted? ? partner_shop_path(@shop) :
  partner_shops_path  do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: t('.shop_name'), required: true, autofocus: true, input_html: { autocomplete: "name" } %>
    <%= f.input :phone_number, label: t('.shop_phone_number'), required: true, autofocus: true, input_html: { autocomplete: "phone_number" } %>
    <%= f.input :street, label: t('.shop_street'), required: true, autofocus: true, input_html: { autocomplete: "adresse" } %>
    <%= f.input :additional_address_information, label: t('.additional_address_information'), required: true, autofocus: true, input_html: { autocomplete: "additional_address_information" } %>
    <%= f.association :country, label: t('.shop_country'), label_method: :name, value_method: :code, as: :select %>
    <%= f.association :city, label: t('.shop_city'), label_method: :name, value_method: :postcode, as: :select %>
    <%= f.association :delivery_options, label: t('.delivery_options'), label_method: :to_option, value_method: :code, as: :check_boxes %>
    <%= f.association :cities, label: t('.delivery_coverage'), label_method: :name, value_method: :postcode, as: :check_boxes %>
    <%= f.input :minimum_delivery_price, label: t('.minimum_delivery_price'), required: true, autofocus: true, input_html: { autocomplete: "minimum_delivery_price" } %>
    <%= f.input :standard_delivery_fees, label: t('.standard_delivery_fees'), required: true, autofocus: true, input_html: { autocomplete: "standard_delivery_fees", value: Shop::STANDARD_DELIVERY_FEES } %>
    <%= f.association :product_category, label: t('.product_category'), label_method: :to_name, value_method: :code, as: :radio_buttons %>
  </div>

  <br>
  <div class="form-actions">
    <%= f.button :submit, t('.create_shop'), class: 'btn btn-primary' %>
  </div>
<% end %>
