<% presenter = ShopPresenter.new(current_user.shop) %>

<div class="row mb-2">
  <div class="col-sm">
    <div class="card text-center mt-3 mb-3 border-0" style="background-color: #eee;box-shadow: 0 0 1px 0 rgba(42, 42, 42, 0.4), 0 3px 4px 0 rgba(42, 42, 42, 0.2);">
      <div class="card-body">
        <h1><%= t('.welcome' )%> <%= current_user.shop.name %></h1>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-sm">
    <div class="card mb-3 border-0" style="background-color: #eee;box-shadow: 0 0 1px 0 rgba(42, 42, 42, 0.4), 0 3px 4px 0 rgba(42, 42, 42, 0.2);">
      <div class="card-body">
        <h5><%= t('.contact_details')%></h5>
        <div>
          <p><%= current_user.shop.street %></p>
          <% if current_user.shop.additional_address_information.present? %>
            <p><%= current_user.shop.additional_address_information %></p>
          <% end %>
          <p><%= current_user.shop.city.postcode %> <%= current_user.shop.city.name %></p>
          <p><%= current_user.shop.country.name %></p>
          <p><%= current_user.shop.phone_number %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card mb-3 border-0" style="background-color: #eee;box-shadow: 0 0 1px 0 rgba(42, 42, 42, 0.4), 0 3px 4px 0 rgba(42, 42, 42, 0.2);">
      <div class="card-body">
        <h5><%= t('.delivery_option') %></h5>
        <div><%= presenter.delivery_options.html_safe %></div>
      </div>
    </div>
  </div>
  <div class="col-sm mb-3">
    <div class="card border-0" style="background-color: #eee;box-shadow: 0 0 1px 0 rgba(42, 42, 42, 0.4), 0 3px 4px 0 rgba(42, 42, 42, 0.2);">
      <div class="card-body">
        <h5><%= t('.delivery_coverage') %></h5>
        <div><%= presenter.cities.html_safe %></div>
      </div>
    </div>
  </div>
</div>

<%= link_to edit_partner_shop_path(current_user.shop), class: 'btn btn-primary btn-lg btn-block mb-5' do %>
  <%= t('.tweak_shop_btn') %> <%= image_tag("build-outline.svg", size: "24") %>
<% end %>

<h5><%= t('.products') %></h5>
<div class="row row-cols-1 row-cols-2">
  <% @shop.stocks.each do |stock| %>
    <div class="col-sm-12 col-md-9 col-lg-6 col-xl-3 mb-3">
      <div class="card h-100 border-0" style="background-color: #eee;box-shadow: 0 0 1px 0 rgba(42, 42, 42, 0.4), 0 3px 4px 0 rgba(42, 42, 42, 0.2);">
        <%= image_tag Product::ICONS[stock.product.reference], class: 'card-img-top border-bottom p-3 img-fluid' %>
        <div class="card-body">
          <h5 class="card-title"><%= stock.product.name %></h5>
          <!-- <%= stock.product.reference %> -->
          <div class="">
            <%= number_to_currency(stock.price, locale: I18n.locale) %>
            <div class="dropdown dropleft float-right">
              <button class="btn transparent-btn" type="button" id="dropdownMenu2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag("ellipsis-horizontal-outline.svg", size: "24") %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <%= link_to t('.update'), edit_partner_shop_stock_path(current_user.shop, stock), class: 'dropdown-item' %>
                <%= link_to t('.delete'), partner_shop_stock_path(current_user.shop, stock), method: :delete,
                    data: { confirm: t('.are_you_sure') }, class: 'dropdown-item' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= link_to new_partner_shop_stock_path(current_user.shop), class: 'btn btn-primary btn-lg btn-block mb-5' do %>
  <%= t('.add_product_btn') %> <%= image_tag("add-outline.svg", size: "24") %>
<% end %>
