<br><h1>Welcome to <%= current_user.shop.name %></h1><br>

<h5>Delivery Options</h5>
<div class="" style="margin-bottom:16px;">
  <% current_user.shop.delivery_options.each do |delivery_option| %>
    <span class="badge badge-info"><%= delivery_option.option %></span>
  <% end %>
</div>
<%= link_to edit_partner_shop_path(current_user.shop), class: 'btn btn-sm transparent-btn' do %>
  <%= image_tag("build-outline.svg", size: "24") %>
<% end %><br><br>

<h5>Products</h5>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Reference</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.shop.stocks.each do |stock| %>
        <tr>
          <td><%= stock.product.reference %></td>
          <td><%= stock.product.name %></td>
          <td><%= number_to_currency(number_to_human(stock.price)) %></td>
          <td>
            <div class="dropdown">
              <button class="transparent-btn" type="button" id="dropdownMenu2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag("ellipsis-horizontal-outline.svg", size: "24") %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <%= link_to 'Update', edit_partner_shop_stock_path(current_user.shop, stock), class: 'dropdown-item' %>
                <%= link_to 'Delete', partner_shop_stock_path(current_user.shop, stock), method: :delete,
                    data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
              </div>
            </div>


          </td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= link_to new_partner_shop_stock_path(current_user.shop), class: 'btn btn-sm transparent-btn' do %>
  <%= image_tag("add-outline.svg", size: "24") %>
<% end %>
