<p><%= t('.hello') %>Hello <%= @resource.email %>!</p>

<p><%= t('.change_your_password_txt') %></p>

<p><%= link_to t('.change_password_link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.ignore_email_txt') %></p>
<p><%= t('.password_wont_change_txt') %></p>
